body {
  margin: 10vh 10vw;
  font-size: 3vh;
  line-height: 4vh;
  font-family: 'Open Sans', sans-serif;
}

a {
  display: block;
  margin-bottom: 1vh;
  text-decoration: none;
  color: grey;
}

a:hover {
  color: black;
}