*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  background-size: 100% 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'DroidSerif-Bold';
  src: url('fonts/DroidSerif-Bold.eot');
  src: url('fonts/DroidSerif-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/DroidSerif-Bold.woff2') format('woff2'),
    url('fonts/DroidSerif-Bold.woff') format('woff'), url('fonts/DroidSerif-Bold.ttf') format('truetype'),
    url('fonts/DroidSerif-Bold.svg#DroidSerif') format('svg');
}

@media all and (min-width: 800px) {
  .mobile-only {
    display: none;
  }
}

.container {
  width: 960px;
}

.reject-container {
  width: 650px;
}

.who-container {
  width: 600px;
}

.qa-container {
  width: 700px;
}

.margin-auto {
  margin: 0 auto;
}

.serif {
  font-family: DroidSerif-Bold, serif;
}

.xl-text {
  font-size: 50px;
}

.l-text {
  font-size: 35px;
}

.symbol-text {
  font-size: 30px;
}

.m-text {
  font-size: 25px;
}

.xs-text {
  font-size: 15px;
  line-height: 25px;
}

.sans {
  font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

.text {
  line-height: 35px;
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.btn {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0;
  height: 85px;
  background-image: linear-gradient(to bottom, #2a2a2a, #1b1b1b);
  color: #ffffff;
  border-style: none;
  box-shadow: 0px 23px 83px -11px rgba(0, 0, 0, 0.55);
  outline: none;
}

.m-btn {
  width: 265px;
}

.s-btn {
  width: 196px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
}

.hidden {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.line-top-margin {
  margin-top: 1em;
}

.xl-top-margin {
  margin-top: 80px;
}

.xl-top-padding {
  padding-top: 80px;
}

.xl-bottom-padding {
  padding-bottom: 80px;
}

.xl-bottom-margin {
  margin-bottom: 80px;
}

.l-top-margin {
  margin-top: 50px;
}

.l-bottom-margin {
  margin-bottom: 50px;
}

.m-top-margin {
  margin-top: 40px;
}

.hover-underline {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}

.s-top-margin {
  margin-top: 30px;
}

.xs-top-margin {
  margin-top: 15px;
}

.xs-bottom-margin {
  margin-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

.price-input {
  width: 190px;
  height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.iphone-flex-container {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.text-left {
  text-align: left;
}

.iphone {
  flex: 0 0 auto;
}

/* imgs */

.iphone-white {
  background-image: url(img/desktop-white.png);
  height: 389px;
  width: 265px;
}

.iphone-black {
  background-image: url(img/desktop-black.png);
  height: 432px;
  width: 265px;
}

.portrait {
  width: 105px;
  height: 105px;
}

.portrait-olya {
  background-image: url('./img/portraits/Olya.png');
}

.portrait-nikita {
  background-image: url('./img/portraits/Nikita.png');
}

.portrait-vitya {
  background-image: url('./img/portraits/Vitya.png');
}

/* retina desktop */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iphone-white {
    background-image: url(img/desktop-white-retina.png);
  }

  .iphone-black {
    background-image: url(img/desktop-black-retina.png);
  }

  .portrait-olya {
    background-image: url('./img/portraits/Olya@2x.png');
  }

  .portrait-nikita {
    background-image: url('./img/portraits/Nikita@2x.png');
  }

  .portrait-vitya {
    background-image: url('./img/portraits/Vitya@2x.png');
  }
}

/* mobile */

@media all and (max-width: 800px) {
  .portrait {
    width: 50px;
    height: 50px;
  }

  .iphone-white {
    background-image: url(img/mobile-white.png);
  }

  .iphone-black {
    background-image: url(img/mobile-black.png);
  }

  .portrait-olya {
    background-image: url('./img/portraits/Olya_phone.png');
  }

  .portrait-nikita {
    background-image: url('./img/portraits/Nikita_phone.png');
  }

  .portrait-vitya {
    background-image: url('./img/portraits/Vitya_phone.png');
  }
}

/* retina mobile */

@media all and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 800px) and (min-resolution: 192dpi) {
  .iphone-white {
    background-image: url(img/mobile-white-retina.png);
  }

  .iphone-black {
    background-image: url(img/mobile-black-retina.png);
  }

  .portrait-olya {
    background-image: url('./img/portraits/Olya_phone@2x.png');
  }

  .portrait-nikita {
    background-image: url('./img/portraits/Nikita_phone@2x.png');
  }

  .portrait-vitya {
    background-image: url('./img/portraits/Vitya_phone@2x.png');
  }
}

.iphone-text {
  flex: 0 0 450px;
  position: relative;
  top: -10px;
}

.relative {
  position: relative;
}

.ruble-row {
  display: inline-block;
  margin-left: 32px;
}

.ruble-sign {
  margin-left: 10px;
}

.white {
  color: #000000;
  background-color: #ffffff;
}

.black {
  color: #ffffff;
  background-color: #000000;
}

.btn:active {
  transition: 0.2s;
  box-shadow: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: underline;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.portrait-container {
  width: 350px;
}

.tax-flex-container {
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tax-flex-item {
  flex: 0 0 50%;
  max-width: 210px;
}

.tax-top-margin {
  margin-top: 52px;
}

.step-circle {
  background-image: linear-gradient(-180deg, #333333 0%, #1a1a1a 100%);
  border-radius: 140px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-text {
  color: white;
}

.faded-text {
  color: rgba(0, 0, 0, 0.4);
}

.material-input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 6px;
}

.material-input:focus {
  border-bottom: 2px solid #5264ae;
  outline: none;
}

.inn-input {
  width: 150px;
}

.address-input {
  width: 400px;
}

.email-input {
  width: 400px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable-scroll {
  overflow: hidden;
}

.modal {
  position: relative;
  flex: 0 0 auto;
  text-align: left;
  width: 554px;
  height: 685px;
  padding: 40px 50px 50px;
}

.cross {
  position: absolute;
  margin-top: -20px;
  margin-right: -4px;
  top: 20px;
  right: 20px;
}

.block {
  display: block;
}

.calc-row {
  display: flex;
  direction: row;
}

.calc-col {
  flex: 0 0 auto;
  max-width: 67px;
  margin-right: 20px;
}

.calc-top-margin {
  margin-top: -4px;
  line-height: 1.4;
}

/* range */

.profit-range {
  width: 450px;
  -webkit-appearance: none;
  background: #000000;
}

.profit-range:focus {
  outline: none;
}

.profit-range::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1.3px;
  border: none;
}

.profit-range::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.2px;
}

input[type='range']::-moz-range-track {
  height: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1.3px;
  border: none;
  width: 450px;
}

input[type='range']::-moz-range-thumb {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']::-moz-focus-outer {
  border: 0;
}

input[type='range']::-ms-track {
  cursor: pointer;
  border-color: #000000;
  color: transparent;
  height: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1.3px;
  border-width: 12px 0;
  width: 450px;
}

input[type='range']::-ms-fill-lower {
  background: transparent;
}

input[type='range']::-ms-thumb {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

/* mobile */
@media all and (max-width: 800px) {
  .container,
  .reject-container,
  .qa-container,
  .who-container {
    width: 320px;
  }

  .portrait-container {
    width: 190px;
  }

  .mobile-container {
    width: 170px;
  }

  .title-container-mobile {
    width: 230px;
  }

  .xl-top-margin,
  .l-top-margin,
  .m-top-margin {
    margin-top: 30px;
  }

  .s-top-margin {
    margin-top: 10px;
  }

  .l-bottom-margin {
    margin-bottom: 30px;
  }

  .xl-top-padding {
    padding-top: 40px;
  }

  .xl-bottom-padding {
    padding-bottom: 50px;
  }

  .text {
    font-size: 15px;
    line-height: 25px;
  }

  .xl-text,
  .l-text,
  .l-text-mobile {
    font-size: 30px;
    line-height: 1;
  }

  .l-text {
    line-height: 40px;
  }

  .btn {
    height: 65px;
  }

  .m-btn {
    width: 240px;
  }

  .profit-range {
    width: 290px;
  }

  .tax-flex-container {
    flex-direction: column;
    max-width: 300px;
  }

  .tax-flex-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: none;
  }

  .tax-flex-item > * {
    flex: 0 0 45%;
  }

  .text-left-mobile {
    text-align: left;
  }

  .text-right-mobile {
    text-align: right;
  }

  .iphone-flex-container {
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .iphone {
    flex: 0 0 auto;
    height: 405px;
    width: 189px;
  }

  .iphone-top-margin-mobile {
    margin-top: 20px;
  }

  .iphone-text {
    text-align: center;
    flex: 0 0 auto;
    margin-bottom: 40px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-calc-price {
    width: 80px;
    margin-right: 10px;
  }

  .mobile-calc-label {
    width: 155px;
  }

  .mobile-calc-container {
    width: 250px;
  }

  .qa-left-padding {
    padding-left: 0;
  }

  .modal {
    width: 100vw;
  }

  .m-top-margin-mobile {
    margin-top: 40px;
  }

  .s-btn {
    flex: 0 0 150px;
  }

  .modal-buttons {
    justify-content: flex-start;
    width: auto;
  }

  .modal-buttons > * {
    margin-right: 30px;
  }

  .modal-content {
    width: 285px;
  }

  .inn-input {
    width: 100px;
  }

  .address-input {
    width: 100%;
  }

  .email-input {
    width: 100%;
  }
}
